{% extends "index.html.twig" %}

{% block content %}
    <h2 class="page-header">Type your credentials</h2>
    <form method="post">
        <div class="form-group">
            <input placeholder="Email" id="email" class="form-control" type="text" name="email" {% if data['email'] is defined %}value="{{ data['email'] }}"{% endif %} />
            {% if messages['field'] is defined and messages['field'] == 'email' %}
                <p>{{ messages['message'] }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <input placeholder="Password" class="form-control" id="password" type="password" name="password" />
            {% if messages['field'] is defined and messages['field'] == 'password' %}
                <p>{{ messages['message'] }}</p>
            {% endif %}
        </div>

        <button class="btn btn-submit" type="submit">Login</button>
    </form>
{% endblock %}
