{% extends "index.html.twig" %}

{% block content %}
    <form method="post">
        <label for="name">Group name</label>
        <input id="name" type="text" name="name" />
        <button type="submit">Add</button>
    </form>
{% endblock %}
