{% extends "index.html.twig" %}

{% block content %}
    <h2 class="page-header">Create new subject</h2>
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div class="form-group">
                    <label for="name">Subject name</label>
                    <input id="name" class="form-control" type="text" name="name" {% if data['name'] is defined %}value="{{ data['name'] }}"{% endif %} />
                    {% if messages['field'] is defined and messages['field'] == 'name' %}
                        <p>{{ messages['message'] }}</p>
                    {% endif %}
                </div>
                <button class="btn btn-submit" type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
