{% extends "index.html.twig" %}

{% block pageName %}
    {{ group.getName() }}
{% endblock %}
{% block pageDesc %}
    Edit your subject
{% endblock %}

{% block content %}
    <h2 class="page-header">Edit subject</h2>
    <form method="post">
        <input type="hidden" id="_method" name="_method" value="PUT" />
        <div class="form-group">
            <input id="name" class="form-control" placeholder="Subject name" type="text" name="name" {% if data['name'] is defined %}value="{{ data['name'] }}"{% endif %} />
            {% if messages['field'] is defined and messages['field'] == 'name' %}
                <p>{{ messages['message'] }}</p>
            {% endif %}
        </div>
        <button class="btn btn-submit" type="submit">Save</button>
    </form>
{% endblock %}
