{% extends "index.html.twig" %}

{% block pageName %}
    Subjects
{% endblock %}
{% block pageDesc %}
    Manage your subjects of lessons
{% endblock %}

{% block content %}
    <h2 class="page-header">Your subjects <a href="/groups/create" class="btn btn-info btn-xs">Add new subject</a></h2>
    {% if groups|length > 0 %}
        <table>
            {% for group in groups %}
                <tr>
                    <td>1</td>
                    <td><a href="/groups/show/{{ group.getId() }}">{{ group.getName() }}</a></td>
                    <td><a href="/groups/edit/{{ group.getId() }}">Edit</a></td>
                    <td><a class="delete" href="/groups/delete/{{ group.getId() }}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning alert-dismissible">
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            You have not any subject. <a href="/groups/create">Add new subject</a> and start learning new things.
        </div>
    {% endif %}
{% endblock %}
