{% extends "index.html.twig" %}

{% block content %}
    {% if groups|length > 0 %}
        <table>
            {% for group in groups %}
                <tr>
                    <td>1</td>
                    <td>{{ group.getName() }}</td>
                    <td><a href="/groups/edit/{{ group.getId() }}">Edit</a></td>
                    <td><a class="delete" href="/groups/delete/{{ group.getId() }}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
