{% extends "index.html.twig" %}

{% block pageName %}
    Subjects
{% endblock %}
{% block pageDesc %}
    Manage your subjects of lessons
{% endblock %}

{% block content %}
    <h2 class="page-header">Your subjects <a href="/groups/create" class="btn btn-info btn-xs">Add new subject</a></h2>
    {% if userGroups|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Subject name</th>
                    <th>Elements</th>
                    <th>Progress</th>
                    <th style="width: 30px"></th>
                    <th style="width: 30px"></th>
                </tr>
            </thead>
            <tbody>
                {% for userGroup in userGroups %}
                    {% set group = userGroup.getGroup() %}
                    <tr>
                        <td><a href="/groups/show/{{ group.getId() }}">{{ group.getName() }}</a></td>
                        <td></td>
                        <td></td>
                        <td>
                            {% if group.isOwner(current_user) %}
                            <a href="/groups/edit/{{ group.getId() }}"><i class="fa fa-edit"></i></a>
                            {% endif %}
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning alert-dismissible">
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            You have not any subject. <a href="/groups/create">Add new subject</a> and start learning new things.
        </div>
    {% endif %}
{% endblock %}
