{% extends "index.html.twig" %}

{% block content %}
    <p>
        Hi! It is early phase of development, but I hope that in future it'll very useful tool. <Br />
        Please be patient! ;-)
    </p>
    <p>
        <a href="/groups">Groups</a>
    </p>
{% endblock %}
