{% extends "index.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Hi! ;-)</h2>
            <p>
                Hi! It is early phase of development, but I hope that in future it'll very useful tool. <Br />
                Please be patient! ;-)
            </p>
        </div>
    </div>
{% endblock %}
