.btn-learning {
    width: 100%;
    background-color: #d43f3a;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 5px;
    border-bottom: 3px solid #af3833;
    box-shadow: none;
    padding: 10px;
}

.btn-learning:hover,
.btn-learning:focus{
    color: #fff;
    outline: none;
    box-shadow: none;
    opacity: .8;
}

.progress-bar-flashcards {
    background-color: #4fcccd;
}
