#card {
    text-align: center;
    margin-top: 46px;
    position: relative;
}

#card .text {
    font-size: 48px;
    line-height: normal;
    padding: 64px 12px 128px;
}

#card .meaning {
    display: none;
    font-weight: bold;
}

#card.show-meaning .text {
    padding: 64px 12px 0 12px;
}

#card.show-meaning .meaning {
    display: block;
    padding: 18px 12px 128px 12px;
}

#direction-buttons {
    opacity: 0;
    display: none;
}

#card .buttons {
    position: absolute;
    bottom: 18px;
    width: 100%;
    z-index: 100;
}
