<div class="panel panel-default panel-special" *ngFor="let box of boxes">
  <div class="panel-heading">
    <h3 class="panel-title">{{ box.name }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <a [routerLink]="['/box', box.id, 'addCard']" class="btn btn-special btn-yellow">Add new card</a>
      </div>
      <div class="col-md-4">
        <button class="btn btn-special btn-red">Start learning</button>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>