<form method="post" action="/fiches/{% if fiche is defined %}edit/{{ fiche.id }}{% else %}create{% endif %}">
    <input type="hidden" name="group" id="group" value="{{ group.id }}" />
    <div class="form-group">
        <input placeholder="Word" class="form-control" type="text" name="word" id="word" />
    </div>
    <div class="form-group">
        <textarea placeholder="Explain" class="form-control" name="explain" id="explain"></textarea>
    </div>
    <button class="btn btn-submit" type="submit">Save</button>
</form>
