{% extends "index.html.twig" %}

{% block pageName %}
    {{ group.getName() }} - Lesson
{% endblock %}
{% block pageDesc %}
    Good luck! ;-)
{% endblock %}

{% block content %}
    <div class="row">
        {% if fiche %}
            <div class="col-md-8 col-md-offset-2 alert alert-warning" id="card">
                <div class="row">
                    <div class="text word">{{ fiche.getWord() }}</div>
                </div>
                <div class="row">
                    <div class="text meaning">{{ fiche.getExplainWord() }}</div>
                </div>
                <div id="answer-buttons" class="buttons row">
                    <div class="col-md-6">
                        <button class="btn btn-learning" id="not_know">I don't know</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-submit" id="know">I know</button>
                    </div>
                </div>
                <div id="direction-buttons" class="buttons row">
                    <div class="col-md-12">
                        <form method="post" action="/fiches/answer">
                            <input type="hidden" name="fiche_id" value="{{ fiche.getId() }}">
                            <input type="hidden" name="user_known" value="false" id="user-known">
                            <button type="submit" id="next-question" class="btn btn-submit">
                                Next <i class="fa fa-angle-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
